{% extends 'writer/_main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content%}
    <div class ="container bg-white shadow mt-5 p-5 form_layout">
        <h3>{% translate 'Update article' %}</h3>
        <p>{% translate "You may update an create an article below:" %}</p>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ update_article_form|crispy }}
             
            <input type="submit" class="btn btn-success" value="{% translate 'Update  article' %}">
        </form>    
    </div>
{% endblock %}